body {
    background-color: #83AADE !important;
    margin: 0;  

}
    

.perfil-img {
    width: 0.3px;
    height: 0.3px;
    object-fit: cover;
    border-radius: 3%;
}

.titulo_centrado {

    text-align: center !important;

}

