body {
    background-color: #83AADE !important;
    margin: 0;  

}
    

.perfil-img {
    width: 10px;
    height: 10px;
    object-fit: cover;
    border-radius: 50%;
}

.titulo_centrado {

    text-align: center !important;

}

