.fondo{
    background-color: #83AADE !important;
    margin: 0; 
}
    
    

.Perfil-img  { 
    width: 80px !important;
    height: 80px !important;
    object-fit: cover !important;
    border-radius: 50% !important;

    position: absolute !important;
    top: 20px !important;
    left: 20px !important;
    
} 

.titulo_centrado {

    text-align: center !important;

}

