body {
    background-color: #83AADE !important;
    margin: 0;  

}
    

.perfil-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;

    position: absolute;
    top: 20px;
    left: 2;
}

.titulo_centrado {

    text-align: center !important;
    color: red;

}

h1 {
    color: red;
}