@keyframes escribir {
    0%, 10% { width: 0; }
    70%, 90% { width: 10ch; }
    100% { width: 0; }
}

@keyframes parpadeo {
    50% { border-color: transparent; }
}

.rojo_red {
    color: red;
}

.Bienvenido {
    text-align: center;
    color: chocolate;
    font-family: monospace;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    font-size: 60px;
    border-right: 4px solid chocolate; /* El cursor */
    /* Ajustamos a 10 pasos para las 10 letras */
    animation: 
    escribir 4s steps(10) infinite,
    parpadeo 0.8s infinite;
}

.dlink {
    text-decoration: none;
}
.HOJA_DE_VIDA {
    text-align: center; 
    color: rebeccapurple;
    margin: 0;
    font-size: 45px;
    letter-spacing: 2px;

}

.fondo_bienvenida {
    background-color: lightblue;
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
}

.fondo_hojadevida {
    background-color: wheat;
    margin: 60px 40px 0 40px;
    padding: 0px;
    border-radius: 10px;
}

.fondo_hojadevida2 {
    background-color: rgb(255, 245, 98);
    margin: 60px 40px 0 40px;
    padding: 0px;
    border-radius: 10px;
}

.fondo_hojadevida3 {
    background-color: #d0a6e0;
    margin: 60px 40px 0 40px;
    padding: 0px;
    border-radius: 10px;
}

.fondo_hojadevida4 {
    background-color: khaki;
    margin: 60px 40px 0 40px;
    padding: 0px;
    border-radius: 10px;
}

.fondo_hojadevida5 {
    background-color: rgb(142, 252, 109);
    margin: 60px 40px 0 40px;
    padding: 0px;
    border-radius: 10px;
}

.fondo_hojadevida6 {
    background-color: rgb(241, 123, 123);
    margin: 60px 40px 0 40px;
    padding: 0px;
    border-radius: 10px;
}
.dmargen {
    margin-bottom: 24px;
}
.Dtitulo {
    text-transform: uppercase;
    border-bottom: 1px solid gray;
    padding-bottom: 1px;
}

.boton {
    background-color: orange;
    color: #2c3e50;
    text-decoration: none;
    font-size: 30px;
    padding: 3px;
    border-radius: 6px;
}
.datos-hv{
    display: flex;
    gap: 40px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.nimg {
    background-color: orange;
    color: red;
    font-size: 10px;
    border-radius: 6px;
    padding: 5px;
    text-align: right;
    margin-left: auto;
}
.descripcion {
    background-color: aquamarine;
    border: 1px solid black;
    padding: 10px;
    max-width: 600px;  

}
.abajo_izquierda {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.centro {
    text-align: center;
}
.derecha_izquierdapadding {
    padding-left: 25px;
    padding-right: 25px;
}
.tu-contenedor {
    margin-bottom: 20px;
    width: 100%;
}

.dcontenedor {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

.derecha{
    background-color: orange;
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding: 3px;
    border-radius: 6px;
    align-self: flex-end; /* se alinea a la derecha del flex container */
}


.d_hoja {
    color: white;
    background-color: #2c3e50;
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;   /* centra verticalmente */
    justify-content: space-between; /* separa al máximo los elementos */
    margin-bottom: 20px;   /* espacio debajo del contenedor */
}
.d_datos {
    
    display: flex;
    flex-direction: column;  /* apila descripción y resto de datos verticalmente */
    gap: 20px;
    
}
.linea {
    background-color: black;
    font-size: 5px;
    bottom: 0;
    right: 0;
    left: 0;
}
.imag {
    width: 10x;
    height: 200px;
    object-fit: cover;
    border: 3px solid #2c3e50;
    border-radius: 6px;
    margin-right: 15px;
}


.contenedor-hv {
    background: white;
    padding: 30px;
    border-radius: 12px;
}

.espacio_derecha {
    padding-right: 20px;
    margin-left: auto;

}
.espacio_izquierda {
    padding-left: 50px;
}

.super_espacio_izquierda {
    padding-left: 260px;
}

.mitad_espacio_izquierda {
    padding-left: 130px;
}

.arriba {
    padding-top: 30px;
}

.tarjeta-vertical-Azul {
    background-color: white;    
    border: none;                
    border-left: 4px solid #007bff; 
    border-radius: 8px;           
    padding: 20px;                
    margin-bottom: 24px;
    margin-left: 24px;
    margin-right: 24px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.Dtarjeta-vertical-Azul {
    background-color: white;    
    border: none;                
    border-left: 4px solid #007bff; 
    border-radius: 8px;           
    padding: 20px;
    padding-top: 60px;
    margin-bottom: 24px;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 40px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}