body {
    background-color: #83AADE !important;
    margin: 0;  

}
    

.Perfil-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;

    position: absolute;
    top: 20px;
    left: 20px;
}

.titulo_centrado {

    text-align: center !important;

}

