.rojo_red {
    color: red;
}

.HOJA_DE_VIDA {
    text-align: center; 
    color: rebeccapurple;
    margin: 0;
    font-size: 45px;
    letter-spacing: 2px;

}

.fondo_hojadevida {
    background-color: wheat;
    position: absolute;
    left: 40px;
    right: 40px;
    top: 150px;
}
.boton {
    background-color: orange;
    color: red;
    text-decoration: none;
    font-size: 30px;
    padding: 3px;
    border-radius: 6px;
}
.datos-hv{
    display: flex;
    gap: 40px;
    align-items: flex-start;
}
.derecha{
    background-color: orange;
    color: red;
    text-decoration: none;
    font-size: 30px;
    right: 40px;
    top: 20px;
    padding: 3px;
    border-radius: 6px;
}


.d_hoja {
    color: white;
    background-color: #2c3e50;
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 20px;
 }
.d_datos {
    
    padding-left: 40px;
    padding-top: 20px;
    font-size: 25px;
    
}
.linea {
    background-color: black;
    font-size: 5px;
    bottom: 0;
    right: 0;
    left: 0;
}
.imag {
    position: absolute;
    right: 60px;
    width: 250px;
    height: 300px;
    object-fit: cover;
    display: block;
    margin: 20px auto;
    border: 3px solid #2c3e50;
}

.contenedor-hv {
    background: white;
    padding: 30px;
    border-radius: 12px;
}

