@keyframes escribir {
    from { width: 0; }
    to { width: 11ch; }
}


body {
    background-color: #83AADE !important;
    margin: 0;  

}
    

.perfil-img {
    width: 280px;
    height: 310px;
    object-fit: cover;
    top: 20px;
    padding-right: 20px;
    padding-top: 60px;
    padding-left: 40px;
}
.img-certificado {
    width: 380px;
    height: 210px;


}


.HOJA_DE_VIDA {
    text-align: center; 
    color: rebeccapurple;
    margin: 0;
    padding: 8px;
    font-size: 45px;
    letter-spacing: 2px;
}

.encabezado {
    background-color: #BDBDBD;  
    padding: 0px 0;      
        
           
}

.izquierda {
    padding-left: 300px;
    text-align: left;
}
/* MI DATOS */
.detalles-m {
    padding: 20px;
}
.curso_realizado {
    background-color: khaki;
    width: 100%;
    max-width: 1400px;
    padding: 20px;
    margin: 20px auto;
    padding-bottom: 20px;

}
.nombre_certificado {
    text-align: center;
}
.descargar_pdf {
    padding-top: 20px;
    text-decoration: none;
    color: red;
}
.descripcion {
    font-size: 30px;
    padding-left: 60px;
}
.perfil_hoja_de_vida {
    display: flex;
    align-items: center;
}
.Datos {
    font-size: 35px;
    padding-left: 100px;
}
.celdas {
    display: flex;
}
.columnas{
    flex-direction: column;
}
.detalles {
    background-color: rgb(171, 238, 238);
    width: 100%;
    max-width: 350px;
    padding: 20px;
    margin: 20px auto;
}
.Datos_personales {
    background-color: wheat;
    width: 100%;
    max-width: 1400px;
    padding: 20px;
    margin: 20px auto;
}
.experiencia_laboral{
    background-color: rgb(255, 245, 98);
    width: 100%;
    max-width: 1400px;
    padding: 20px;
    margin: 20px auto;
}
.RECONOCIMIENTOS {
    background-color: #CD50FF;
    width: 100%;
    max-width: 1400px;
    padding: 20px;
    margin: 20px auto;
}
.proyectos {
    background-color: rgb(175, 171, 171);
    width: 100%;
    max-width: 1400px;
    padding: 20px;
    margin: 20px auto;
}
.certificado_m {

    
    padding-left: 30px;
    padding-right: 30px;
}
.vacios{
    color: red;
    text-align: center;
}
/* BIENVENIDOS */
.Bienvenido {
    color: chocolate;
    font-family: monospace;
    display:inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    padding-left: 110px;
    font-size: 60px;
    animation: escribir 10s steps(11) infinite;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

/* lineas :) */
.linea {
    background-color: black;
    font-size: 2px;
}

/* SUB TITULO */
.subtitulo{
    color: tomato;
    font-size: 70px;
    padding-left: 80px;
}
/* SUB SUB TITULO */
.subsubtitulo{
    text-transform: uppercase;
    color: teal;
    font-size: 40px;
    padding-left: 80px;
}
/* links */
.links {
    text-decoration: none;
    font-size: 35px;
    padding-left: 140px;
}