{% extends 'base.html' %}
{% block content %}


<main class="container py-5">
    <section class="card card-body">
        <h1 class="Bienvenido">Bienvenido</h1>
        <p class="arriba">Hola, bienvenido a mi pagina donde cree un proyecto de una hoja de vida creo que esta completo si tiene un error o le falta algo me escribe para arreglar los errores, deseo que le guste esta pagina porque la hice con mucha paciencia</p>
        <div class="text-center ">
            <a class="btn btn-secondary" href="{% url 'u_hoja_de_vida'%}">
                Entra a la hoja de vida
            </a>
            
        </div>
    </section>
</main>
{% endblock %}